
.course {
    background-color: white;
    height: 100px;
    margin: 10px 0 10px 0;
    border-radius: 5px;
    display: flex;
  
    .course-details {
      padding-left: 10px;
      padding-top: 10px;
      flex-basis: 90%;
  
      .course-title {
        display: block;
        font-size: 1.2rem;
        font-weight: 600;
      }
  
      .course-description {
        margin-top: 10px;
        display: block;
        font-weight: 400;
      }
    }
  
    .course-actions {
      vertical-align: middle;
      flex-basis: 10%;
    }
  }
  